{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}

    <h2>Welcome to Schedge!</h2>

    {% if exists == true %}
        <div class="row p-3">
            <div class="col">
                <p>Your current meeting time slot is: </p>
            </div>
            <div class="col">
                <p>
                    {{ start_time }} - {{ end_time }}
                </p>
            </div>
        </div>
    {% else %}
        <div class="row p-2">
            <p>You don't have any meeting time slot set currently!</p>
        </div>
    {% endif %}

{% endblock %}
